@import url('https://fonts.googleapis.com/css?family=Roboto|Zilla+Slab&display=swap');
body{
	color:#fff;
	background-color: #011026;
}
h1, h2 {
	font-family:"Zilla Slab"
}
p{
	font-family:"roboto";
	font-size:16px;
}
a{
	text-decoration: none;
	color:inherit !important;
	border-bottom:2px solid #45F4FF;
}
/*hero*/
.hero{
	height:450px;
	background: linear-gradient(90deg, #18F2B2 0%, #45F4FF 33.33%, #B2ABF2 67.71%, #89043D 100%);
	width:100%;
	color:white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.heroContentWrapper{
	height:410px;
	background-color: #011026;
	width:100%;
	margin:20px;
}
.myNameIs{
	color:#b1feff;
}
.introduction{
	width:300px;
	margin: auto;
	padding-top:60px;
}
/*wrappers for main content*/
.mainContentWrapper{
	display: flex;
	justify-content: center;
}
.column{
	display: flex;
	flex-direction: column;
}
/*bio section*/
.bio{
	height:240px;
	width:725px;
	max-width:85vw;
	background-color: #011026;
	position:relative;
	bottom:75px;
	margin-bottom:80px;
}
.contact{
	display: flex;
	justify-content: flex-end;
	font-size:14px;
}
.contactInfo{
	width:35%;
}
.bioMainContent{
	display:flex;
}
.bioWriteup{
	width:70%;
}
.photoWrapper{	
	width:200px;
	border-radius:100px;
	background-color:red;
	height:200px;
	margin:20px;
}
/*resume section*/
.resume{
	height:400px;
	width:725px;
	max-width:85vw;
	margin-bottom:80px;
}
.titleWrapper{
	display: flex;
	justify-content: space-between;
}