@import url('https://fonts.googleapis.com/css?family=Poppins|Zilla+Slab:wght@300;400;500;600&display=swap');

body{
	color:black;
	background-color: white;
	margin:60px 140px;
	--blood: #89043D;
}
h1, h2 {
	font-family:"Poppins";
	font-weight: normal;
}
h2{
	font-size:25px;
}
p{
	font-family:"Poppins";
	font-size:16px;
}
a{
	text-decoration: none;
	font-family:"Poppins";
	color:inherit !important;
	border-bottom:2px solid #15E7AA;
}
footer{
	font-family: "Poppins";
}
ul {
	list-style: none;
	padding-left: 0px;
}
.d-flex{
	display:flex;
}
.d-none{
	display:none;
}
.column{
	display: flex;
	flex-direction: column;
}
.no-ul{
	border-bottom:none;
}
.no-margin{
	margin:0px !important;
}
#myName{
	font-weight: 600;
}
button, li{
	font-family:"Poppins";
}
.gray{
	color:gray;
}
/*hero*/
.hero{
	color:black;
	display: flex;
	justify-content: space-between;
}
.bio{
	max-width:600px;
}

.photoWrapper{	
	max-width:200px;
	margin:0px 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.photoWrapper img{
	border-radius:50%;
}
/*Projects section*/
.mainContentWrapper{
	margin-top:100px;
}
.projects{
	width:85%;
	max-width:85vw;
	margin-bottom:150px;
}
.projectsContentSection{
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-gap: 1rem;
	
}
.projectsContentSection h2, .projectsContentSection h3{
font-family:"Poppins"
}
.quarterBox{
	height:300px;
}
.quarterOverlay{
	position: absolute;;
}
.a:hover, .b:hover, .c:hover, .d:hover{
	opacity: 1;
}
.bg-paragon{
	border:5px solid #FF6B6C;
}
.bg-jonar{
	border:5px solid #5B5F97;
}
.bg-evans{
	border:5px solid #89043D;
}
.bg-ufcw{
	border:5px solid #18F2B2;
}
.quarterBox{
	padding:10%;
}
.quarterBox h3, .quarterBox h2{
	font-weight: normal;
	margin-bottom:10px;
}
.quarterBox h3{
	font-size:20px;
}
.quarterBox h2{
	font-size:30px;
}
.hideOnS{
	margin:30px 0px;
}
.my-1{
	margin:3px 0px;
}
.lastLine{
	margin-bottom:50px;
	margin-top: 60px;
}
.lastLine p{
	padding-top:10px;
}
.cm{
	margin-left:2px;
}
/*resume section*/
.rainbowWrap{
	padding-bottom:5px;
	margin-bottom:30px;
	background: linear-gradient(90deg, #FF6B6C 0%, #89043D 33.85%, #5B5F97 66.15%, #18F2B2 100%);
	width:240px;
}
.rainbowWrap h1, .rainbowWrap h2{
font-family: "Zilla Slab";
}
.smallRainbow{
	width:140px;
}
.titleWrapper{
	display: flex;
	justify-content: start;
	background: white;
	padding-bottom: 10px;
}
.titleWrapper h1{
	margin-bottom: 0px;
}
.fancyBox{
	display: flex;
	flex-direction: row;
	border :2px solid var(--blood);
	height:50px;
	padding: 10px 22px;
	margin-left:60px;
}
.fancyBox2{
	display: flex;
	flex-direction: row;
	background: var(--blood);
	height:50px;
	padding: 12px 22px;
	margin-left:40px;
	color:white;
}
.fancyBox img{
	margin:3px 10px;
	width:20px;
	height:20px;
}
.resumeSection{
	margin:30px 0px;
}
.resumeSection h2{
	margin-bottom:10px;
}


@media screen and (max-width: 800px) {
	.bioMainContent{
		flex-direction: column;
		align-items: center;
	}
	.bio{
		margin:auto;
	}
	.photoWrapper{
		margin-right:0px;
	}
	
	.projects{
		height:400px;
	}
	.quarterBox{
		height:180px;
	}
	.quarterBox h2{
		margin-bottom:10px;
	}
	.a, .b, .c, .d {
		opacity: 1;
		padding:5%;
	}
	p {font-size: 14px;}
	h2{
		font-size:14pt;
	}
	.cm{
		margin-left:7px;
	}
	.hideOnS{
		display:none;
	}


	}

@media screen and (max-width: 600px) {
	

	.toggleRow{
		display: flex;
		justify-content: space-around;
		margin-bottom: 20px;
	}
	.fancyButton{
		font-size:18px;
	}
	body{
		margin:60px;
	}

}